@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@media only screen and (min-width: 768px){
    .parent:hover .child {
        opacity:1;
        height:auto;
        overflow:none;
        transform: translateY(0);
    }
    .child {
        opacity:0;
        height:0;
        overflow:hidden;
        transform: translateY(-10%);
    }
}

  /* Add this to your global CSS file */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  

  /* Hide spinner for Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner for Firefox */
.no-spinner[type='number'] {
  -moz-appearance: textfield;
}

.noscroll {
  overflow: hidden;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card:hover .tilt-img {
  transform: rotateY(10deg) rotateX(20deg);
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

/* Custom thin scrollbar for sidebar */
.sidebar-scroll {
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #177aaf #024B71; /* Firefox thumb and track */
}

.sidebar-scroll::-webkit-scrollbar {
  width: 7px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #0284c7;
  border-radius: 4px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: #1e3a8a;
}



/* body, html {
  overflow: hidden;
  height: 100%;
} */


.table-scroll {
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #FFFFFF #F3F4F6; /* Firefox thumb and track */
}

.table-scroll::-webkit-scrollbar {
  width: 7px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background-color: #e9ecee;
  border-radius: 4px;
}

.table-scroll::-webkit-scrollbar-track {
  background: #f3f3f5;
}

.horizontal-scroll {
  overflow-x: auto;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 7px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #dfe5e9;
  border-radius: 4px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background-color: #F3F4F6;
}

/* Firefox */
.horizontal-scroll {
  scrollbar-width: thin;
  scrollbar-color: #ffff #eaecf0;
}
